@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #f2f2f2;
  min-width: 1200px;
}

.page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 1200px;
  color: #333333;
  background-color: #ffffff;

  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.main-container {
  flex-grow: 1;
}

.main-header {
  color: #000000;
}

.navigation {
  position: relative;
  display: flex;
  min-height: 64px;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}

.navigation-logo-link:hover {
  opacity: 70%;
  z-index: 1;
}

.navigation-logo-img {
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-right: auto;
  margin-left: 168px;
  padding: 0;
  width: 600px;
  list-style-type: none;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-link-current::after {
  position: absolute;

  content: "";
  background-color: #756157;
  height: 2px;
  right: 16px;
  left: 16px;
  bottom: -1px;
  z-index: 1;
}

.navigation-link:hover {
  opacity: 70%;
}

.navigation-icons-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;

  min-width: 88px;
  list-style-type: none;
}

.navigation-icon-link {
  display: block;
  padding: 22px 12px;
  min-width: 44px;
  min-height: 64px;

  text-align: center;
  text-decoration: none;
  color: inherit;
}

.navigation-icon-link:hover {
  transform: scale(1.1);
}

.navigation-icon-link-search {
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px 18px;
}

.navigation-icon-link-favorite {
  position: relative;
  background-image: url("../images/favorite-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.fav-number {
  position: absolute;
  right: 4px;
  top: 11px;
  width: 20px;
  height: 20px;
  padding: 5px 1px;

  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7db54f;
  border-radius: 50%;
}

.button {
  display: inline-block;
  padding: 8px 10px;
  min-width: 140px;
  min-height: 36px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.button:disabled {
  background-color: #e5e5e5;
}

.want-here-button {
  min-width: 160px;
}

.button:hover {
  background-color: #615048;
}

.button:focus-visible {
  background-color: #615048;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
}

.button-blue:focus-visible {
  background-color: #68a2ca;
}

.button-blue:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.3);
}

.hero {
  position: relative;
  min-height: 485px;
  margin-bottom: 69px;

  background-image: url("../images/hero-background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(131, 179, 211, 0.59);
  background-size: cover;
}

.hero::before {
  position: absolute;
  content: url("../images/divider.svg");
  display: block;
  height: 57px;
  width: 1200px;

  bottom: 0;
}

.hero-img {
  display: block;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
  box-sizing: content-box;
}

.advantages {
  margin-bottom: 64px;
}

.about-text {
  width: 630px;
  margin: 0 auto;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.reasons-text {
  width: 660px;
  margin: 0 auto;
  margin-bottom: 90px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style-type: none;
}

.advantages-item {
  min-height: 385px;
}

.advantages-text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 70px 80px;
  width: 400px;
  flex-shrink: 0;
}

.advantages-image {
  display: block;
  object-fit: cover;
  width: 100%;
  height: auto;
}

.advantages-title {
  position: relative;
  margin: 0 auto;
  margin-bottom: 60px;
  min-height: 56px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.advantages-title::after {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -30px;

  content: "";
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.background-blue .advantages-title::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-description {
  text-align: center;
  margin: 0;
}

.background-blue {
  width: 1200px;
  background-color: #82b3d3;
  color: #ffffff;
  display: flex;
}

.background-blue-reverse {
  flex-direction: row-reverse;
}

.background-blue .advantages-title {
  color: #ffffff;
}

.background-light-blue {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 70px 55px;

  background-color: rgba(131, 179, 211, 0.2);
}

.background-light {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  padding: 70px 55px;

  background-color: rgba(131, 179, 211, 0.12);
}

.visit-sedona {
  width: 505px;
  margin: 0 auto;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.visit-text {
  width: 490px;
  margin: 0 auto;
  margin-bottom: 64px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  width: 400px;
  min-height: 385px;
  padding: 80px 85px;
}

.services-title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 102px;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.services-title-house {
  background-image: url("../images/house.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 75px 72px;
}

.services-title-food {
  background-image: url("../images/burger.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 75px 72px;
}

.services-title-souvenirs {
  background-image: url("../images/present.svg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 75px 72px;
}

.services-description {
  margin: 0;
  min-width: 230px;
  text-align: center;
}

.services-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.hotel-search {
  padding: 96px 304px;
  text-align: center;
}

.hotel-search-title {
  margin: 0;
  min-width: 300px;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotel-search-description {
  margin: 0;
  margin-bottom: 54px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.hotel-search-button {
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

.subscribe {
  padding: 96px 258px 104px;
  min-height: 414px;
}

.subscribe-with-background {
  background-image: url("../images/subscribe-background.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  background-size: cover;
  color: #ffffff;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.subscribe-with-background .subscribe-title {
  color: #ffffff;
}

.subscribe-description {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 54px;
  max-width: 475px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.subscribe-button {
  width: 232px;
  font-size: 20px;
  line-height: 36px;

  border-radius: 0 4px 4px 0;
}

.input {
  width: 452px;
  height: 52px;
  padding: 12px 20px;

  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px 0 0 4px;
}

.input:hover {
  background-color: #e6e6e6;
}

.input:focus-visible {
  background-color: #e6e6e6;
}

.main-footer {
  padding: 40px 70px 30px;
  min-height: 120px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.footer-social-list {
  margin: 0;
  margin-right: auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-width: 142px;
  min-height: 40px;

  list-style-type: none;
}

.footer-social-link {
  position: relative;
  display: block;
  min-width: 47px;
  min-height: 40px;
  padding: 1px 10px;
}

.footer-social-svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.footer-social-link:hover .footer-social-svg {
  fill: #68a2ca;
}

.footer-social-link:focus-visible .footer-social-svg {
  fill: #68a2ca;
}

.footer-social-link:active .footer-social-svg {
  fill: rgba(104, 162, 202, 0.3);
}

.tel-link {
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.tel-link:hover {
  color: #756157;
}

.tel-link:focus-visible {
  color: #756157;
}

.tel-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo-link {
  margin-left: auto;
}

.footer-logo-svg {
  display: block;
}

.footer-logo-link:hover path {
  fill: #756157;
}

.footer-logo-link:focus-visible path {
  fill: #756157;
}

.footer-logo-link:active path {
  fill: rgba(117, 97, 87, 0.3);
}

/* Страница Гостиницы Седоны */

.catalog-filter {
  padding: 70px;
  padding-top: 35px;
  min-height: 412px;

  background-image: url("../images/filter-background.jpg");
  background-repeat: no-repeat;
  background-color: #82b3d3;
  color: #ffffff;
  background-size: cover;
}

.catalog-filter-group {
  margin: 0;
  padding: 0;
  border: none;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  line-height: 23px;
}

.control-mark {
  position: absolute;
  display: block;
  left: 0;
  top: 2px;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  background-color: #ffffff;
}

.control:hover {
  opacity: 0.6;
}

.control-input[type="checkbox"]:focus-visible + .control-mark,
.control-input[type="radio"]:focus-visible + .control-mark {
  outline: 3px solid #83b3d3;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url("../images/check-mark.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.range-scale {
  position: relative;
  width: 287px;
  height: 4px;
  background-color: rgba(255, 255, 255, 0.3);
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  border: none;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
}

.range-toggle:hover {
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.range-toggle:focus-visible {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.25);
}

.range-toggle:active {
  outline: 2px solid rgba(131, 179, 211, 1);
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.4);
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 44px;
}

.range-input {
  display: block;
  height: 48px;
  width: 143px;
  padding-right: 50px;

  font-weight: 700;
  -webkit-appearance: none;
  appearance: none;
}

.input[type="number"],
.input[type="number"]:hover,
.input[type="number"]:focus-visible {
    appearance: none;
    -moz-appearance: textfield;
}

.catalog-filter-label {
  position: relative;
}

.inner-label {
  position: absolute;
  display: block;
  color: rgba(0, 0, 0, 0.3);
  top: 12px;
  right: 20px;
  line-height: 24px;
}

.catalog-filter-label:nth-of-type(2) .range-input {
  border-radius: 0 4px 4px 0;
  margin-left: 2px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 40px;
  padding: 0;

  list-style-type: none;
}

.breadcrumbs-link {
  display: block;
  min-width: 13px;
  min-height: 21px;

  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
}

.breadcrumbs-link:hover {
  opacity: 60%;
}

.breadcrumbs-link:active {
  opacity: 30%;
}

.breadcrumbs-item:not(:last-of-type) {
  padding-right: 28px;
  position: relative;
}

.breadcrumbs-item:not(:last-of-type)::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 21px;
  top: 0;
  right: 10px;
  background-image: url("../images/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
}

.breadcrumbs-link-main {
  background-image: url("../images/breadcrumbs-house.svg");
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-position: center;
}

.catalog-filter-title {
  margin: 0;
  padding: 0;
  margin-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.reset-button {
  background: transparent;
}

.buttons-wrapper .button {
  width: 191px;
}

.buttons-wrapper .button:not(:last-child) {
  margin-bottom: 32px;
}

.buttons-wrapper {
  padding-top: 56px;
  width: 191px;
}

.reset-button:hover {
  background: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.reset-button:focus-visible {
  background: transparent;
}

.reset-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
}

.reset-button:disabled {
  color: rgba(255, 255, 255, 0.1);
  background: transparent;
}

.catalog-filter-group:nth-of-type(2) {
  margin-right: auto;
}

.catalog-filter-group:not(:last-child, :nth-of-type(2)) {
  margin-right: 70px;
}

.housing-filter-title {
  margin: 0;
  margin-right: auto;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.select-control {
  padding-left: 20px;
  padding-right: 40px;
  margin-right: 70px;
  height: 49px;
  min-width: 292px;

  font-family: inherit;
  color: inherit;
  font-size: 18px;
  line-height: 21px;

  border-radius: 4px;
  border: 2px solid #e5e5e5;
  cursor: pointer;

  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: bottom 50% right 20px;
  background-color: #ffffff;
  /* for Firefox */
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none;
  appearance: none;
}

/* For IE10 */
.select-control::-ms-expand {
  display: none;
}

.select-control:hover {
  border-color: #68a2ca;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.view-icon-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style-type: none;
}

.view-icon-item {
  margin-right: 8px;
}

.view-icon-item:nth-child(3n) {
  margin-right: 0;
}

.view-icon-button {
  display: block;
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.view-icon-button-current {
  border: 2px solid #000000;
}

.view-icon-button:hover {
  border: 2px solid #000000;
}

.view-icon-button:active {
  border: 2px solid #000000;
}

.view-icon-button-cards {
  background-image: url("../images/view-icon-cards.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-icon-button-big {
  background-image: url("../images/view-icon-big-card.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.view-icon-button-list {
  background-image: url("../images/view-icon-list.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 14px;
}

.housing-catalog {
  padding: 50px 70px 60px;
}

.sorting-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.housing-card-list {
  width: 1060px;
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
  list-style-type: none;
}

.housing-card-item {
  width: 340px;
  padding: 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  row-gap: 16px;
  column-gap: 20px;

  border-radius: 4px;
  outline: 1px solid #e6e6e6;
}

.housing-card-title {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.housing-card-link {
  grid-column: 1 / -1;

  text-decoration: none;
}

.housing-card-link:hover {
  text-decoration: underline solid #000000;
}

.housing-card-img-link {
  display: block;
  grid-column: 1 / -1;
  order: -1;
}

.housing-card-img-link:hover {
  opacity: 80%;
}

.housing-card-price {
  text-align: right;
}

.stars-four {
  background-image: url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg"), url("../images/star.svg");
  background-repeat: no-repeat;
  background-position: left, 24px, 48px, 72px;
}

/* еще один способ сделать звездочки */
.stars-three {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: 67px;
  height: 18px;
  align-self: center;
}

.stars-two {
  background-image: url("../images/star.svg");
  background-repeat: space;
  width: 42px;
  height: 18px;
  align-self: center;
}


.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus-visible {
  background-color: #6c9e42;
}

.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #7db54f;
}

.housing-card-rating {
  grid-column: -2 / -1;
  min-height: 37px;
  padding-top: 9px;
  padding-bottom: 8px;
  padding-left: 22px;
  padding-right: 22px;

  background-color: #f2f2f2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-top: 40px;
  align-items: center;

  list-style-type: none;
  border-top: 1px solid #e6e6e6;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  min-width: 60px;
  min-height: 60px;
  padding: 12px 10px;

  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
  border-radius: 4px;
}

.pagination-link:not(.pagination-link-current, .pagination-link-points):hover {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-link-current, .pagination-link-points):focus-visible {
  background-color: #68a2ca;
}

.pagination-link:not(.pagination-link-current, .pagination-link-points):active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-link-points {
  color: #000000;
  background-color: #ffffff;
}

/* Модальное окно */

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
  border-radius: 30px;
  color: #000000;
}

.modal-search {
  width: 717px;
  padding: 64px 70px;
}

.modal-close-button {
  position: absolute;
  right: 52px;
  top: 64px;
  width: 52px;
  height: 52px;
  padding: 0;

  background-color: #f2f2f2;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.close-image {
  position: absolute;
  transform: translateX(-50%) translateY(-50%);
}

.modal-close-button:hover {
  background-color: #e6e6e6;
}

.modal-close-button:focus-visible {
  background-color: #e6e6e6;
}

.modal-close-button:active,
.modal-close-button:active .close-image {
  background-color: #e6e6e6;
  fill-opacity: 30%;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.field-group {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.child-group {
  width: 242px;
}

.adults-group {
  width: 247px;
}

.modal-form-label {
  position: relative;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.date-label {
  width: calc(100% - 440px);
}

.modal-input-date {
  height: 48px;
  width: 440px;
  padding-left: 20px;
  padding-right: 50px;
  margin-bottom: 4px;
  flex-shrink: 0;

  background-color: #f2f2f2;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  border-radius: 4px;
  background-image: url("../images/calendar-icon.svg");
  background-repeat: no-repeat;
  background-position: bottom 50% right 20px;
}

.modal-form-message {
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  padding-left: 157px;
  color: #333333;
  font-size: 16px;
  line-height: 21px;
}

.mistake-message {
  color: #ff5757;
}

.button-number {
  min-width: 40px;
  height: 48px;
  margin: 0;
  padding: 14px 10px;

  color: rgba(117, 97, 87, 0.3);
  background-color: #f2f2f2;
  border: none;
  cursor: pointer;
}

.button-number:hover,
.button-number:hover .button-minus-svg,
.button-number:hover .button-plus-svg {
  fill: #000000;
  fill-opacity: 1;
  background-color: #e6e6e6;
}

.button-number:focus-visible .button-minus-svg,
.button-number:focus-visible .button-plus-svg {
  fill: #000000;
  fill-opacity: 1;
}

.button-number:active .button-minus-svg,
.button-number:active .button-plus-svg {
  fill: #000000;
  fill-opacity: 0.2;
}

.modal-input-people {
  display: block;
  width: 31px;
  height: 48px;
  margin: 0;
  padding: 14px 5px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  border: none;
  background-color: #f2f2f2;
}

.people-input-group {
  display: flex;
  width: 110px;
  margin-left: 10px;
}

.modal-input-people:hover {
  background-color: #e6e6e6;
}

/* Chrome, Safari, Edge, Opera */
.modal-input-people::-webkit-outer-spin-button,
.modal-input-people::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.modal-input-people[type="number"] {
  -moz-appearance: textfield;
}

.modal-wrapper-people {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.tooltip-button {
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 15px;
  width: 26px;
  height: 26px;
  border: none;
  border-radius: 50%;
  background-color: #83b3d3;
  background-image: url("../images/tooltip-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.tooltip-button:hover,
.tooltip-button:focus-visible {
  background-color: #68a2ca;
}

.tooltip-text {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  width: 256px;
  min-height: 143px;
  padding: 21px 22px 22px 22px;

  border-radius: 10px;
  background-color: #333333;
  color: #ffffff;
  font-size: 16px;
  text-transform: none;
  font-weight: 400;
  line-height: 20px;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  display: none;
}

.tooltip-text::after {
  content: "";
  background-image: url("../images/tooltip-arrow.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.tooltip {
  position: absolute;
  display: inline-block;
  margin-left: 10px;
}

.tooltip-button:hover + .tooltip-text,
.tooltip-button:focus + .tooltip-text {
  display: block;
}

.modal-search-button {
  display: block;
  width: 100%;
  min-height: 60px;

  font-size: 20px;
  line-height: 24px;

  border-radius: 10px;
}

.modal-container-close {
  display: none;
}
